/* animation */
@keyframes float {
    0% {
        transform: translateX(0) translateY(5%) rotate(3deg);
    }
    25%{
        transform: translateX(10px) translateY(-5%) rotate(0deg);
    }
    50% {
        transform: translateX(0px) translateY(5%) rotate(3deg);
    }
    75% {
        transform: translateX(-10px) translateY(-5%) rotate(0deg);
    }
    100% {
        transform: translateX(0) translateY(5%) rotate(3deg);
    }
}

/* about page */

#about-page {
    margin: 0 auto;
    min-width: 100vh;
    position: relative;
    box-shadow:  0px 10px 5px 0px rgba(0,0,0,0.5);
    background: linear-gradient(to bottom, #f5f5dc, #d6d6ae);
    color: white;
    text-shadow: 
    -2px -2px 0 #6F5118,  
    2px -2px 0 #6F5118,
    -2px 2px 0 #6F5118,
    2px 2px 0 #6F5118;
}

.about-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0px 70px;
    min-height: 65vh;
}

hr {
    width: 60px;
}

h1 {
    margin: 0 auto;
    font-size: 55px;
}

p {
    margin: 20px 30px;
    font-size: 25px;
}

.about-img-flex-box {
    flex: 1;
    scale: 100%;
}

.about-text-flex-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 50px 0px;
    flex: 1;
    background-color: #a07422;
    border: 3px dashed #c29643;
    border-radius: 10px;
    transform: rotate(-1deg);
    box-shadow:  0px 10px 5px 0px rgba(0,0,0,0.1);
}

.header-box{
    margin: 0 auto;
    padding: 10px 0px;
    line-height: 1;
    width: 70%;
    margin-top: -70px;
    background-color: #c29643;
    border: 3px dashed #E2BB8F;
    border-radius: 10px;
    text-align: center;
    transform: rotate(2deg);
    box-shadow:  0px 10px 5px 0px rgba(0,0,0,0.1);
}

.about-info-container {
    height: 100%;
}

.info-text {
    margin: 0px 50px;
    margin-bottom: 50px;
}

.flex-img {
    animation: float 8s ease-in-out infinite;
    width:90%;
    height: auto;
}

#about-extended-btn {
    transition: all 0.2s ease-in-out;
    font-size: 30px;
    margin: -25px auto;
    padding: 5px 15px;
    background-color: #c09340;
    border: 3px dashed #c5a37c;
    color: rgb(212, 212, 212);
    border-radius: 8px;
    text-shadow: 
    -2px -2px 0 #6F5118,  
    2px -2px 0 #6F5118,
    -2px 2px 0 #6F5118,
    2px 2px 0 #6F5118;
    transform: rotate(2deg);
    box-shadow:  0px 10px 5px 0px rgba(0,0,0,0.1);
}

#about-extended-btn:hover {
    cursor: pointer;
    color: white;
    background-color: #c29643;
    border: 3px dashed #E2BB8F;
}

.about-wave {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.about-wave img {
    position: relative;
    display: block;
    width: calc(119% + 1.3px);
    height: 60px;
}

.about-wave .shape-fill {
    fill: #c29643;
}

/* laptops */

@media (min-width: 1024px) {
    h1 {
        font-size: 40px;
    }

    .header-box{
        margin: 0 auto;
        padding: 10px 0px;
        line-height: 1;
        width: 80%;
        margin-top: -70px;
        background-color: #c29643;
        border: 3px dashed #E2BB8F;
        border-radius: 10px;
        text-align: center;
        transform: rotate(2deg);
        box-shadow:  0px 10px 5px 0px rgba(0,0,0,0.1);
    }

    .about-text-flex-box {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 50px 0px;
        height: 80%;
        flex: 1;
        background-color: #a07422;
        border: 3px dashed #c29643;
        border-radius: 10px;
        transform: rotate(-1deg);
        box-shadow:  0px 10px 5px 0px rgba(0,0,0,0.1);
    }
}