.contact-container {
    display: flex;
    align-items: center;
    position: relative;
    text-align: center;
    color: white;
    text-shadow: 
    -2px -2px 0 #6F5118,  
    2px -2px 0 #6F5118,
    -2px 2px 0 #6F5118,
    2px 2px 0 #6F5118;
    background-color: #EFAE2E ;
    min-height: 50vh;
}

.contact-text-flex-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10rem 30rem;
    height: 15rem;
    flex: 1;
    background-color: #a07422;
    border: 3px dashed #c29643;
    border-radius: 10px;
    transform: rotate(-1deg);
    box-shadow:  0px 10px 5px 0px rgba(0,0,0,0.1);
}

.header-box{
    margin: 0 auto;
    padding: 10px 0px;
    line-height: 1;
    width: 50%;
    margin-top: -50px;
    background-color: #c29643;
    border: 3px dashed #E2BB8F;
    border-radius: 10px;
    text-align: center;
    transform: rotate(2deg);
    box-shadow:  0px 10px 5px 0px rgba(0,0,0,0.1);
}

.contact-info-container {
    height: 100%;
}

.socials-text {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 0px 50px;
}

#flex-social {
    transition: all 0.3s ease-in-out;
    padding: 0px 20px;
}

#flex-social:hover {
    transform: scale(1.1) rotate(5deg);
}

.footer-wave {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.footer-wave img {
    position: relative;
    display: block;
    width: calc(119% + 1.3px);
    height: 60px;
}

.footer-wave .shape-fill {
    fill: #0A1D27;
}