.home {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    min-height: 98vh;
}

a {
    text-decoration: none;
}

#logo-text {
    margin-top: -40px;
}

#download-btn-container {
    margin-top: 20px;
}

#download-btn {
    transition: all 0.2s ease-in-out;
    font-size: 25px;
    margin: -25px auto;
    padding: 5px 15px;
    color: white;
    background-color: #c29643;
    border: 3px dashed #E2BB8F;
    border-radius: 8px;
    text-shadow: 
    -2px -2px 0 #6F5118,  
    2px -2px 0 #6F5118,
    -2px 2px 0 #6F5118,
    2px 2px 0 #6F5118;
    box-shadow:  0px 10px 5px 0px rgba(0,0,0,0.5);
}

#download-btn:hover {
    cursor: pointer;
    background-color: #ac8339;
    border: 3px dashed #b69773;
}



#text {
    margin: 0 auto;
    text-shadow: 
    -2px -2px 0 #6F5118,  
    2px -2px 0 #6F5118,
    -2px 2px 0 #6F5118,
    2px 2px 0 #6F5118;
}